.card {
    border: 0;
}

.content-artikel {
    .artikel-list {
        .card {
            .card-body {
                .article-tag {
                    a {
                        background-color: rgb(201, 198, 198);
                        padding: 2px 6px;
                        color: #FFF;
                    }
                }
            }
        }
    }
}

.sidebar-artikel {
    .tag-article {
        .tag-list {
            a {
                background-color: rgb(201, 198, 198);
                padding: 2px 6px;
                color: #FFF;
            }
        }
    }
}