#header-pertanyaan {
  padding-top: 60px;
}

#form {
  padding-bottom: 256px;
}

.btn-kirim-pertanyaan {
  padding: 8px 30px;
}

@media (max-width: 991px) {
  #header-pertanyaan {
    padding-top: 40px;
  }
}
