#header-forum {
    padding-top: 80px;
    margin-bottom: 50px;

    .container {
        .header-forum-content {
            form {
                .input-group {
                    width: 400px;
                }
            }
        }
    }
}

#question-list {
    padding-bottom: 100px;

    .container {
        .card {
            .card-body {
                .content-question {
                    .views-question {
                        p {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    #header-forum {
        .container {
            .header-forum-content {
                form {
                    flex-direction: column;

                    .input-group {
                        width: auto;
                    }

                    a {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    #question-list {
        .container {
            .card {
                .card-body {
                    .content-question {
                        flex-direction: column-reverse;
                        justify-content: space-around;

                        p {
                            text-align: left;
                            display: inline;
                        }

                        .views {
                            margin-right: 50px;
                        }
                    }
                }
            }
        }
    }
}