.title-section {
    color: #436ACD;
}

#header {
    padding-top: 100px;
    background-color: #436ACD;
    padding-bottom: 90px;


    .opening-text {
        margin-bottom: 50px;
    }

    .description {
        font-size: 20px;
    }
}

#service {
    padding-top: 100px;
    padding-bottom: 100px;

    .title {
        .title-section {
            color: #436ACD;
        }
    }

    .card {
        border: none;

        img {
            height: 100px;
            width: 100px;
        }

        .card-body {
            .card-text {
                font-size: 20px;
                font-weight: normal;
                color: #436ACD;
            }
        }
    }
}

#about-us {
    padding-top: 100px;
    padding-bottom: 80px;

    .container {
        .row {
            .title-about-us {
                color: #436ACD;
            }
        }
    }
}

#blog {
    padding-top: 100px;
    padding-bottom: 100px;
}

@media (max-width: 991px) {
    #header {
        padding-top: 60px;
        padding-bottom: 100px;

        .btn-start {
            text-align: center;
            margin-bottom: 50px;
        }

        .img-content img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .btn-start a {
            width: 100%;
        }
    }

    #about-us {
        padding-top: 100px;
        padding-bottom: 100px;

        .container {
            .title-about-us {
                margin-top: 40px;
            }
        }
    }
}

@media (max-width: 575.98px) {
    #header {
        padding-top: 80px;
        padding-bottom: 40px;

        .opening-text {
            margin-bottom: 30px;
            text-align: center;
        }

        .description {
            font-size: 17px;
            text-align: center;
        }

        .btn-start {
            text-align: center;
        }

        .img-content {
            display: none;
        }
    }
}